<!DOCTYPE html>
<html>
<head>
  <title>Building Permits | Development Services | AustinTexas.gov - The Official Website of the City of Austin</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <nav>
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <div class="container">
    </div>
  </div>
  <div class="container">
    <h2>Welcome to the City of Austin Service Center.</h2>
    <h5>The Service Center (formerly the Permit Center) issues building and applicable trade permits, processes permit payments, and registers licensed contractors to perform work.</h5>
    <a href="permit.html">
      <div class="permit-splash"></div>
    </a>
  </div>

</body>
</html>
