<!DOCTYPE html>
<html>
<head>
  <title>Building Permits | Development Services | AustinTexas.gov - The Official Website of the City of Austin</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div>
    <nav>
      <div class="container nav">
        <div class="logo"></div>
        <ul>
          <li> <a href="/">Home</a></li>
        </ul>
      </div>
    </nav>

    <div class="jumbotron">
     <div class="jumbotron-content">
      <h2>Welcome to the City of Austin Service Center</h2>
      <h3>
        The Service Center (formerly the Permit Center) issues building
  	     and applicable trade permits, processes permit payments, and
  	      registers licensed contractors to perform work
  </h3>
     </div>
    </div>

    <div class="container">
    	<div class="permit-splash">
    		<div>
    		<h3>Need help deciding which permit to submit?</h3>
    		Use the permit application wizard to determine what you need
    		<a href="permit.html">
    		  <div class="permit-button">
    			Find My Permit
              </div>
            </a>
    		</div>
    	</div>
    </div>
  </div>
 <div class="footer">
      <div class="contact">
        <ul>
          <li><b>Contact Info</b></li>
          <li>Phone: 512-978-4000</li>
          <li>Fax: 512-974-1226</li>
          <li><a href="#">Email</a></li>
        </ul>
      </div>
      <div class="contact">
        <ul>
          <li><b>Physical Address</b></li>
          <li>505 Barton Springs Road</li>
          <li>Austin, Texas</li>
          <li><a href="#">See Map</a></li>
        </ul>
      </div>
      <div class="contact">
        <ul>
          <li><b>Open Hours</b></li>
          <li>8:00 a.m. to 3:00 p.m.</li>
          <li><a href="#">Organizational Chart</a></li>
        </ul>
      </div>
  </div>
</body>
</html>
