<!DOCTYPE html>
<html>
<head>
  <title>Building Permits | Development Services | AustinTexas.gov - The Official Website of the City of Austin</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="site-content">
    <nav>
      <div class="container nav">
        <a href="index.html"><div class="logo"></div></a>
        <ul>
          <li> <a href="index.html">Home</a></li>
        </ul>
      </div>
    </nav>

    <div class="container centered">
      <div id="progress" class="progress">
        <div id="progress-1" class="circle">
          <span class="label">1</span>
          <span class="title">Start</span>
        </div>
        <span class="bar done"></span>
        <div id="progress-2" class="circle">
          <span class="label">2</span>
          <span class="title">Type</span>
        </div>
        <span class="bar half"></span>
        <div id="progress-3" class="circle">
          <span class="label">3</span>
          <span class="title">Prerequisites</span>
        </div>
        <span class="bar"></span>
        <div id="progress-4" class="circle">
          <span class="label">4</span>
          <span class="title">Results</span>
        </div>
      </div>
      <div id="question"></div>
      <div id="caption"></div>
      <div id="answers"></div>
      <div id="back"></div>
      <div id="permit"></div>
    </div>
  </div>
  <footer class="footer">
    <div class="container horizontal-spaced">
      <div class="contact">
        <ul>
          <li><b>Contact Info</b></li>
          <li>Phone: 512-978-4000</li>
          <li>Fax: 512-974-1226</li>
          <li><a href="#">Email</a></li>
        </ul>
      </div>
      <div class="contact">
        <ul>
          <li><b>Physical Address</b></li>
          <li>505 Barton Springs Road</li>
          <li>Austin, Texas</li>
          <li><a href="#">See Map</a></li>
        </ul>
      </div>
      <div class="contact">
        <ul>
          <li><b>Open Hours</b></li>
          <li>8:00 a.m. to 3:00 p.m.</li>
          <li><a href="#">Organizational Chart</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
