<!DOCTYPE html>
<html>
<head>
  <title>Building Permits | Development Services | AustinTexas.gov - The Official Website of the City of Austin</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <nav>
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="progress">
      <div class="circle done">
        <span class="label">&#10003;</span>
        <span class="title">Start</span>
      </div>
      <span class="bar done"></span>
      <div class="circle done">
        <span class="label">2</span>
        <span class="title">Type</span>
      </div>
      <span class="bar half"></span>
      <div class="circle active">
        <span class="label">3</span>
        <span class="title">Prerequisites</span>
      </div>
      <span class="bar"></span>
      <div class="circle">
        <span class="label">4</span>
        <span class="title">Results</span>
      </div>
    </div>
    <h2>Permit</h2>
    <div id="question"></div>
    <div id="answers">dsa</div>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
