*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

body {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #444;
}

.site-content {
  flex: 1;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}
.prototype {
  text-align: center;
  margin: 0 auto;
  color: white;
  background-color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}
.prototype a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}
nav {
  background-color: #fff;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  padding-top: 15px;
}

nav ul a {
  text-decoration: none;
  color: #a1561f;
  border-bottom: 1px dotted #a1561f;
}

nav ul a:hover {
  color: #7b522c;
}

.logo{
  background-image: url("logo.png");
  background-repeat: no-repeat;
  height: 50px;
  width: 200px;
  display: inline-block;
}

h1 {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3em;
}

h2 {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 52px;
  line-height: 1.3em;
}

h3 {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3em;
}

h5 {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3em;
}

.jumbotron {
  /*height: 250px;*/
  background-image: url('shutterstock_389596906_op_overlay.png');
  background-size: cover;
  text-shadow: 1px 1px 3px #444;
  color:#ffffff;
  margin-bottom: 30px;
  text-align: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}
.jumbotron-content {
  width: 900px;
  margin-bottom: 30px;
}

.permit-splash {
  padding-bottom: 25px;
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.permit-splash h3{
    text-transform: capitalize;
}

.permit-splash .permit-button {
  height: 50px;
  background-color: #366D88;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none !important;
  border-bottom: 5px solid #29586f;
  text-transform: capitalize;
}
.permit-splash .permit-button:hover {
  background-color: #29586f;
}

.permit-splash .permit-button a ul {
  text-decoration: none;
}

/* Bottom section */

.QuickLink{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 75px;
  max-width: 950px;
  min-width: 350px;
}
.QuickLink div{
  display: inline-block;
  width: 250px;
  margin-top: 10px;
  vertical-align: top;
  margin-right: 50px;
  color: #444;
}

.icon svg{
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
  height: 100px;
  width: 150px;
  margin-top: 75px !important;

}
.app{
    fill: #669940;
}
.icon.app:hover{
    fill: #5d7f40;
}
.status{
    fill: #13436b;
}
.status:hover{
    fill: #153347;
}
.pay{
    fill: #636c76;
}
.pay:hover{
    fill: #454a4f;
}
.faq{
    fill: #a6592c;
}
.faq:hover{
    fill: #7f482d;
}
.building{
    fill: #664c2d;
}
.building:hover{
    fill: #473829;
}

.footer {
    margin-top: 4em;
    width:100%;
    text-align:center;
    background-color: #366D88;
    color: white;
}
.footer a{
    color: white;
    border-bottom: 1px dotted white;
}


.contact {
    display:inline-block;
    vertical-align:top;
    margin-top:15px;
    margin-bottom:15px;
    }
.contact > ul  {
    list-style:none;
    text-align: left;
    padding: 0;
}



.contact > ul li a {
    text-decoration:none;
    }


/* Wizard page styling here */

.wizard-button,
.button {
  height: 50px;
  width: 175px;
  background-color: #366D88;
  margin-top: 50px;
  border: 1px solid grey;
  border-bottom: 5px solid #29586f;
  font-size: 18px;
  color:white;
  cursor: pointer;
}

.wizard-button + .wizard-button,
.button + .button {
  margin-left: 25px;
}

.wizard-button:hover,
.button:hover {
  background-color: #29586f;
}

.full-width {
  width: 100%;
}

.width-40 {
  width: 40%;
}

.back-button {
    width: 100px;
    height: 50px;
    margin-top: 75px;
    background-color: white;
    border: 1px solid grey;
    border-bottom: 3px solid grey;
    cursor: pointer;
    font-size:17px;
    color: grey;
}
.back-button:hover {
  border-bottom: 1px solid grey;
  color:grey;
}

.centered {
  text-align: center;
}

#question{
  margin-top: 75px;
}

.inner-container {
  max-width: 600px;
  text-align: left;
  margin: 0 auto;
}

.horizontal-spaced {
  display: flex;
  justify-content: space-between;
}

.modal {
    display: none; /* Hidden by default */
    position: static; /* Stay in place */
    /* z-index: 1; /* Sit on top */
    left: 0;
/*    top: 0; */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.tip-content {
    position: static;
   /* top: 0; */
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #366d88;
    color: white;
}

.modal-body {
  text-align: left;
  padding: 2px 16px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes slideIn {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/*.tooltip{
    display:inline;
    position:relative;
  }
.tooltip:hover{text-decoration:none}

.tooltip:active:after{
   background:#111;
   border-radius:5px;
   bottom:18px;
   color:#fff;
   content:attr(title);
   display:block;
   font-size: 10px;
   max-width: 200px;
   padding:5px 15px;
   position:absolute;
   z-index:98
  }
.tooltip:active:before{
    content:"";
    display:block;
    position:absolute;
    z-index:99
   }*/
