html, body {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

body {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #444;
}

.site-content {
  flex: 1;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}

nav {
  background-color: #fff;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  padding-top: 15px;
}

nav ul a {
  text-decoration: none;
  color: #a1561f;
  border-bottom: 1px dotted #a1561f;
}

nav ul a:hover {
  color: #7b522c;
}

.logo{
  background-image: url("logo.png");
  background-repeat: no-repeat;
  height: 50px;
  width: 200px;
  display: inline-block;
}

h1 {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3em;
}

h2 {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 52px;
  line-height: 1.3em;
}

h3 {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3em;
}

h5 {
  font-family: 'Arial';
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3em;
}

.jumbotron {
<<<<<<< dbe5b2b5f45decf43b44f4f59bddfd76358bb2ee
  background-image: url('shutterstock_389596906_op_overlay.png');
=======
  height: 250px;
  background-image: url('shutterstock_389596906_op_overlay.png');
>>>>>>> Add caption
  background-size: cover;
  text-shadow: 1px 1px 3px #444;
  color:#ffffff;
  margin-bottom: 30px;
  text-align: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}
.jumbotron-content {
  width: 900px;
  margin-bottom: 30px;
}

.permit-splash {
  padding-bottom: 25px;
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.permit-splash h3{
    text-transform: capitalize;
}

.permit-splash .permit-button {
  height: 50px;
  background-color: #366D88;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none !important;
  border-bottom: 5px solid #29586f;
  text-transform: capitalize;
}
.permit-splash .permit-button:hover {
  background-color: #29586f;
}

.permit-splash .permit-button a ul {
  text-decoration: none;
}

/* Bottom section */
.QuickLink{
  text-align: center;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 75px;
}
.QuickLink div{
  display: inline-block;
  width: 250px;
  vertical-align: top;
  margin-right: 50px;
  color: #444;
}

.icon{
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
  height: 100px;
  width: 150px;

}
.app{
    background-image: url('app.png');
}
.status{
    background-image: url('status.png');
}
.pay{
    background-image: url('pay.png');
}

/* Form Progress */
.progress {
  margin: 20px auto;
  text-align: center;
}
.progress .circle,
.progress .bar {
  display: inline-block;
  background: #fff;
  width: 40px; height: 40px;
  border-radius: 40px;
  border: 1px solid #d5d5da;
}
.progress .bar {
  position: relative;
  width: 80px;
  height: 6px;
  top: -33px;
  margin-left: -5px;
  margin-right: -5px;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.progress .circle .label {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 32px;
  margin-top: 3px;
  color: #b5b5ba;
  font-size: 17px;
}
.progress .circle .title {
  color: #b5b5ba;
  font-size: 13px;
  line-height: 30px;
  margin-left: -15px;
  text-align: center;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
  background: #eee;
}
.progress .bar.active {
  background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}

.progress .circle .label {
  margin-top: 4px;
}

.progress .circle.done .label {
  color: #FFF;
  background: #8bc435;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
  color: #444;
}
.progress .circle.active .label {
  color: #FFF;
  background: #0c95be;
  box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
  color: #0c95be;
}

.footer {
    margin-top: 4em;
    width:100%;
    text-align:center;
    background-color: #366D88;
    color: white;
}
.footer a{
    color: white;
    border-bottom: 1px dotted white;
}


.contact {
    display:inline-block;
    vertical-align:top;
    margin-top:15px;
    margin-bottom:15px;
    }
.contact > ul  {
    list-style:none;
    text-align: left;
}



.contact > ul li a {
    text-decoration:none;
    }


/* Wizard page styling here */

.wizard-button{
  height: 50px;
  width: 175px;
  background-color: #366D88;
  margin-right: 25px;
  margin-top: 50px;
  border: 1px solid grey;
  border-bottom: 5px solid #29586f;
  font-size: 18px;
  color:white;
  cursor: pointer;
}

.wizard-button:hover {
  background-color: #29586f;
}
.back-button {
    width: 100px;
    height: 50px;
    margin-top: 75px;
    background-color: white;
    border: 1px solid grey;
    border-bottom: 3px solid grey;
    cursor: pointer;
    font-size:17px;
    color: grey;
}
.back-button:hover {
  border-bottom: 1px solid grey;
  color:grey;
}

.centered {
  text-align: center;
}


#question{
  margin-top: 75px;
}
